<h1>Ajax Example</h1>

<input type="button" id="buttonId" value="Make Ajax Request"/>


<div id="fname"></div>
<div id="lname"></div>

<p>
  <%= link_to("View Raw XML File", "/xmlfile.xml",
              :target => '_blank', :id=> "linkid") %>
</p>